getter-setter.txt
/prova.dSYM/*
/html/*
Relazione-Esame-18-04-18.aux
Relazione-Esame-18-04-18.log
Relazione-Esame-18-04-18.out
Relazione-Esame-18-04-18.pdf
Relazione-Esame-18-04-18.synctex.gz
.DS_Store
